
<div class="shadow w-100 container-carousel" >
    <app-carousel ></app-carousel>
</div>
<div class="container" style="margin-top: -70px;">
    
    <template #content></template>
    <app-card-container class="m-2" [cards]="cards"></app-card-container>
    <app-tag-container class="m-2" [title]="'Altri argomenti'" [tags]="tags"></app-tag-container>
    <app-small-card-container class="m-2" [smallCards]="smallCards"></app-small-card-container>
    <app-small-card-container class="m-2" [smallCards]="smallCardsWithImage"></app-small-card-container>

</div>


    