<header class="it-header-wrapper it-header-sticky" [ngClass]="{'is-sticky' : !isExpanded}">
  <div class="it-header-slim-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <a class="d-lg-block navbar-brand" href="#">{{headerData.region}}</a>
            <div class="header-slim-right-zone">
              <div class="nav-item dropdown">
                <a aria-expanded="false" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" href="#">
                  <span>ITA</span>
                  <svg class="icon icon-white d-none d-lg-block">
                    <use [attr.xlink:href]="itExpand"></use>
                  </svg>
                </a>
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-12">
                      <div class="link-list-wrapper">
                        <ul class="link-list">
                          <li *ngFor="let language of headerData.supportedLanguage">
                            <a class="list-item" href="#"><span>{{language}}</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-primary btn-icon btn-full" href="#" title="Accedi all'area personale">
                <span class="rounded-icon">
                <svg class="icon icon-primary">
                  <use [attr.xlink:href]="itUser"></use>
                </svg>
              </span>
              <span class="d-none d-lg-block">Accedi all'area personale</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper">
                <a >
                  <svg class="icon">
                    <use [attr.xlink:href]="this.headerData.logo"></use>
                  </svg>
                  <div class="it-brand-text">
                    <h2 class="no_toc">{{headerData.cityTitle}}</h2>
                    <h3 *ngIf="headerData.citySubtitle" class="no_toc d-none d-md-block">
                      {{headerData.citySubtitle}}
                    </h3>
                  </div>
                </a>
              </div>
              <div class="it-right-zone">
                <div class="it-socials d-none d-md-flex">
                  <span>Seguici su</span>
                  <ul>
                    <li *ngFor="let followUs of headerData.followUs">
                      <a [attr.aria-label]="followUs.name" [href]="followUs.url" target="_blank">
                        <svg class="icon">
                          <use [attr.xlink:href]="followUs.icon"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="it-search-wrapper">
                  <span class="d-none d-md-block">Cerca</span>
                  <a aria-label="Cerca" class="search-link rounded-icon"
                     href="#">
                    <svg class="icon">
                      <use [attr.xlink:href]="itSearch"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-header-navbar-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg has-megamenu">
              <button aria-controls="nav10" aria-expanded="false"
                      aria-label="Toggle navigation" class="custom-navbar-toggler"
                      data-target="#nav10" type="button">
                <svg class="icon">
                  <use [attr.xlink:href]="itBurger"></use>
                </svg>
              </button>
              <div class="navbar-collapsable" id="nav10">
                <div class="overlay"></div>
                <div class="close-div sr-only">
                  <button class="btn close-menu" type="button">
                    <span class="it-close"></span>close
                  </button>
                </div>
                <div class="menu-wrapper">
                  <ul class="navbar-nav">
                    <li *ngFor="let section of headerData.sections" class="nav-item"> 
                      <a class="nav-link" >
                        <span>{{section.name}}</span>
                      </a>
                    </li>
                  </ul>
                  <ul *ngIf="headerData.topics && headerData.topics.length > 0" class="navbar-nav navbar-secondary">
                    <li class="nav-item " *ngFor="let topic of headerData.topics | slice:0:3" >
                      <a class="nav-link ">{{topic.name}}</a>
                    </li>
                    <li *ngIf="headerData.topics.length > 3" class="nav-item ">
                      <a class="nav-link " >
                        <span class="font-weight-bold">Tutti gli argomenti...</span>
                       <span class="sr-only">menu selezionato</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>